html,
body {
  width: 100%;
  margin: 0;
}
.box {
  padding: 8px;
}

.content {
  width: 100%;
  height: 400px;
  margin: 20px 0;
  display: flex;
}

.date-chart-content {
  height: 100vh;
}

.item-select-list {
  width: 10%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

#main {
  margin-top: 10px;
  width: 90%;
  height: 400px;
}

#date-chart {
  margin-top: 10px;
  width: 90%;
  height: 100vh;
}
