html,
body {
  width: 100%;
}
.content {
  width: 100%;
  height: 400px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.date-chart-content {
  height: 100vh;
}
.item-select-list {
  width: 10%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}
.date-chart {
}
#main {
  margin-top: 10px;
  width: 90%;
  height: 400px;
}
